.product-card-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Box Model */
    margin: 5px 0px;
    width: 80%;
    height: 400px;

    /* Border */
    border-width: 10px 5px 0 5px;
    border-color: teal;
    border-style: solid;
    border-radius: 10px;

    background-color: blue;
}